{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}{{ block.super }}Task {{ object.id }}{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">
{% endblock %}

{% block content %}
    <div class='row'>
        <div id="task-detail-div" class="col-xs-6 col-xs-offset-3">
            <h1>Task {{ object.id }}</h1>

            <span class="text-muted">{{ object.tool_name }}@{{ object.mpi_cluster }}</span>
            <span id="task-status">{{ object.status }}</span>
            {# progress bars #}
            {% if object.latest_log.status_code < 200 %}
                {# task initializing/queued/in progress #}
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">

                    </div>
                </div>
            {% elif object.latest_log.status_code == 200 %} {# task finished successfully #}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            {% elif object.latest_log.status_code >= 400 %}  {# error encountered #}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            {% endif %}

            {#            <p>Command: {{ object.command_list }}</p>#}

            <strong>Input Files: </strong>
            <div id="task-input-files-list" class="list-group">
                {% for file in object.input_files.all %}
                    <a class="list-group-item"
                       href="{% url "skylab_file_url" task_id=object.id type="input" filename=file.filename %}">{{ file.filename }}</a>
                {% endfor %}
            </div>

            <strong>Output Files: </strong>
            <div id="task-output-files-list" class="list-group"></div>
            {#Display logs#}
            {#            <p>Logs:</p>#}
            {#            <ul id="task-logs-list">#}
            {#                {% for log in object.logs %}#}
            {#                    <li>#}
            {#                        <p>Date: {{ log.timestamp }}</p>#}
            {#                        <p>Status Code: {{ log.status_code }}</p>#}
            {#                        <p>Message: {{ log.status_msg }}</p>#}
            {#                    </li>#}
            {#                {% endfor %}#}
            {#            </ul>#}
        </div>
            {#    JSmol container        #}
        <div id="jsmol-container-div" class="col-xs-6">
            <br>
            <div id="appdiv"></div>
            <div id="jsmol-options-div">
                <div class="form-row">
                    <label>File</label>
                    <select id="jsmol_file_list"></select>
                </div>

                <div class="form-row">
                    <label>Display quality:</label>
                    <input id="platformSpeed" data-slider-id='platformSpeedSlider' type="range" data-slider-min="1"
                           data-slider-max="8" data-slider-step="1" data-slider-value="8"/>
                </div>

                <div class="form-row">
                    <label>Display as:</label>
                    <label class="radio-inline"><input type="radio" name="displayAs"
                                                       value="select *;cartoons off;spacefill only">Spacefill</label>
                    <label class="radio-inline"><input type="radio" name="displayAs"
                                                       value="select *;cartoons off;wireframe -0.1">Wire</label>
                    <label class="radio-inline"><input type="radio" name="displayAs"
                                                       value="select *;cartoons off;spacefill 23%;wireframe 0.15">Ball &
                        Stick</label>
                    <label class="radio-inline"><input type="radio" name="displayAs"
                                                       value="select protein or nucleic;cartoons only; set cartoonFancy false">Cartoon</label>
                    <label class="radio-inline"><input type="radio" name="displayAs"
                                                       value="select protein or nucleic;cartoons only; set cartoonFancy true">Cartoon
                        (fancy)</label>
                </div>

                <div class="form-row">
                    <label>Color Scheme:</label>
                    <label class="radio-inline"><input type="radio" name="color" value="color property atomno">Atom no.</label>
                    <label class="radio-inline"><input type="radio" name="color" value="color cpk">CPK</label>
                    <label class="radio-inline"><input type="radio" name="color" value="color amino">Amino</label>
                    <label class="radio-inline"><input type="radio" name="color"
                                                       value="color structure">Structure</label>
                </div>

                <div class="form-row">
                    <label>Isosurface:</label>
                    <label class="radio-inline"><input type="radio" name="isosurface" value="select *;isosurface vdw">vdW</label>
                    <label class="radio-inline"><input type="radio" name="isosurface"
                                                       value="if ({atomno < 10}.partialcharge == 0){calculate partialcharge};isosurface vdw map mep">MEP</label>
                </div>

                <div id="isosurface_options_div" class="form-row">
                    <label>Isosurface options: </label>
                    <label class="radio-inline"><input type="radio" name="isosurface-options"
                                                       value="isosurface translucent">Translucent</label>
                    <label class="radio-inline"><input type="radio" name="isosurface-options" value="isosurface opaque">Opaque</label>
                    <label class="radio-inline"><input type="radio" name="isosurface-options" value="isosurface delete">Off</label>
                </div>

                <div class="form-row">
                    <label>Labels:</label>
                    <label class="checkbox-inline"><input type="checkbox" name="displayLabel"
                                                          value="if (_fileType == &quot;Pdb&quot;){select *.CA;label %n%r}else{select *;label %a};select *;">On</label>
                    <label class="checkbox-inline"><input type="checkbox" name="displayLabel"
                                                          value="select *;labels off">Off</label>
                </div>
            </div>
            </div>


    </div>
{% endblock %}

{% block js_imports %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jsmol/JSmol.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-slider/dependencies/js/modernizr.js' %}"></script>
{% endblock %}

{% block js %}
    {# insert ajax-request. replace input and output files list with the received content    #}
    <script type="text/javascript">
        function addModel(item) {
            {#            Models.push([item["uri"], item["filename"]]);#}
            $('#jsmol_file_list').append(
                    $('<option></option>').val(item["uri"]).html(item["filename"])
            );
        }

        var statusCode = {{ object.latest_log.status_code }}
                $('#jsmol-container-div').hide();
        $('#isosurface_options_div').hide();
        Models = [];

        var retrieveCurrentStatus = function () {
            ajaxGet('../../task-fragments/{{ object.id }}', function (content) {
                //onSuccess
                {#                alert(content.status_code);#}
                statusCode = content.status_code;


                if (statusCode == 200 || statusCode == 400) {
                    clearInterval(statusRefresher);

                    if (statusCode == 200 && content.uri_dict.length > 0) { //if successful and there is at least one jsmol readable file
                        content.uri_dict.forEach(addModel);
                        {#                        {% for absolute_uri in jsmol_files_absolute_uris %}#}
                        {#                            Models.push(["{{ absolute_uri.uri }}","{{ absolute_uri.filename }}"]); // Models.push([absolute_uri, filename])#}
                        {#                        {% endfor %}#}

                        $("#appdiv").html(Jmol.getAppletHtml("jmolApplet0", Info));
                    }
                }
            })
        };
        retrieveCurrentStatus();
        var statusRefresher = setInterval(retrieveCurrentStatus, 5000);


    </script>

    <script type="text/javascript">
        //based on jsmol/simple.htm, jsmol/jsmol.htm

        Jmol._isAsync = false;

        // last update 2/18/2014 2:10:06 PM

        var jmolApplet0; // set up in HTML table, below

        // logic is set by indicating order of USE -- default is HTML5 for this test page, though

        var s = document.location.search;

        // Developers: The _debugCode flag is checked in j2s/core/core.z.js,
        // and, if TRUE, skips loading the core methods, forcing those
        // to be read from their individual directories. Set this
        // true if you want to do some code debugging by inserting
        // System.out.println, document.title, or alert commands
        // anywhere in the Java or Jmol code.

        Jmol._debugCode = (s.indexOf("debugcode") >= 0);

        var jmol_isReady = function (applet) {
            {#            document.title = (applet._id + " - Jmol " + Jmol.___JmolVersion);#}
            Jmol._getElement(applet, "appletdiv").style.border = "1px solid blue";

            var loadFile = 'load "' + $("#jsmol_file_list").find("option:first").val() + '"';
            Jmol.script(jmolApplet0, loadFile);
            var task_detail_div = $('#task-detail-div');
            {#            task_detail_div.addClass("col-xs-6");#}
            task_detail_div.removeClass("col-xs-offset-3");
            var jsmol_container_div = $('#jsmol-container-div');
            jsmol_container_div.show();
            $('html, body').animate({
                scrollTop: jsmol_container_div.offset().top
            }, 2000);

        };

        script = 'h2oOn=true;set animframecallback'
                + 'set errorCallback "myCallback";'
                + 'set defaultloadscript;'
                + 'set zoomlarge false;'{# set echo top left;echo loading XXXX...;refresh;' #}
                {#                {% with jsmol_files_absolute_uris|first as first_jsmol_uri%}#}
                {##}
                {#                    + 'load "{{ first_jsmol_uri }}"'#}
                {##}
                {#                {% endwith %}#}
                {#                 +'load "http://www.rcsb.org/pdb/files/XXXX.pdb";set echo top center;echo XXXX;'#}
                + 'spacefill off;wireframe off;cartoons on;color structure;';


        var Info = {
            width: 550,
            height: 450,
            debug: false,
            color: "0x468499",
            addSelectionOptions: false,
            use: "HTML5", {# JAVA HTML5 WEBGL are all options #}
            j2sPath: "{% static 'jsmol/j2s' %}", {# this needs to point to where the j2s directory is. #}
            jarPath: "{% static 'jsmol/java' %}", {# this needs to point to where the java directory is.  #}
            jarFile: "JmolAppletSigned.jar",
            isSigned: true,
            script: script,
            serverURL: "{{ jsmol_server_url }}",
            readyFunction: jmol_isReady,
            disableJ2SLoadMonitor: true,
            disableInitialConsole: true,
            allowJavaScript: true
            {#            defaultModel: "$dopamine",#}
            {#            console: "none", // default will be jmolApplet0_infodiv, but you can designate another div here or "none"#}
        };

        $(document).ready(function () {


        });

        {# these are conveniences that mimic behavior of Jmol.js#}

        {#        function jmolCheckbox(script1, script0, text, ischecked) {#}
        {#            Jmol.jmolCheckbox(jmolApplet0, script1, script0, text, ischecked)#}
        {#        }#}
        {#        function jmolButton(script, text) {#}
        {#            Jmol.jmolButton(jmolApplet0, script, text)#}
        {#        }#}
        {#        function jmolHtml(s) {#}
        {#            document.write(s)#}
        {#        }#}
        {#        #}
        {#        function jmolBr() {#}
        {#            jmolHtml("<br>")#}
        {#        }#}
        {#        function jmolMenu(a) {#}
        {#            Jmol.jmolMenu(jmolApplet0, a)#}
        {#        }#}

    </script>
    <script type="text/javascript">
        {# jquery onchange events        #}
        $('#jsmol_file_list').change(function () {
            Jmol.script(jmolApplet0, 'load "' + this.value + '"');
        });

        $('input[type=radio][name=displayAs]').change(function () {
            Jmol.script(jmolApplet0, this.value);
        });

        $('input[type=radio][name=color]').change(function () {
            Jmol.script(jmolApplet0, this.value);
        });

        $('input[type=checkbox][name=displayLabel]').change(function () {
            Jmol.script(jmolApplet0, this.value);
        });

        $('input[type=radio][name=isosurface]').change(function () {
            Jmol.script(jmolApplet0, this.value);
            var isosurface_options = $('#isosurface_options_div');
            isosurface_options.show();
            $('html, body').animate({
                scrollTop: isosurface_options.offset().top
            }, 2000);
        });

        $('input[type=radio][name=isosurface-options]').change(function () {
            Jmol.script(jmolApplet0, this.value);
            if (this.value == "isosurface delete") {
                $('input[type=radio][name=isosurface]:checked').attr('checked', false);
                $('input[type=radio][name=isosurface-options]:checked').attr('checked', false);
                $('#isosurface_options_div').hide();
            }
        });

        {# bootstrap-slider #}
        var platformSpeedInput = $('#platformSpeed');
        platformSpeedInput.slider({
            formatter: function (value) {
                switch (value) {
                    case 1:
                        return 'wireframe only';
                        break;
                    case 2:
                        return 'ellipsoids as dots';
                        break;
                    case 3:
                        return 'geosurfaces as dots';
                        break;
                    case 4:
                        return 'cartoons as trace';
                        break;
                    case 5:
                        return 'surfaces dotted';
                        break;
                    case 6:
                        return 'no translucency';
                        break;
                    case 7:
                        return 'no antialiasing';
                        break;
                    case 8:
                        return 'all features';
                        break;
                }
                return 'Current value: ' + value;
            }
        });
        platformSpeedInput.on("slide", function (slideEvt) {
            Jmol.script(jmolApplet0, 'set platformSpeed ' + slideEvt.value);
        });

    </script>
{% endblock %}