{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>Tool Activity {{ object.id }}</h1>
            <p id="task-status">{{ object.status }}</p>
            <div id="progress-bar-container">
            {# progress bars #}
                {% if object.status_code == 0 or object.status_code == 1 %} {# task initializing/queued/in progress #}

                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                             aria-valuemax="100" style="width: 100%">

                        </div>
                    </div>

                {% elif object.status_code == 2 %} {# task finished successfully #}

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>

                {% elif object.status_code == 3 %}  {# error encountered #}

                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                {% endif %}
            </div>
            <p>Tool: {{ object.tool_name }}</p>
            <p>MPI Cluster: {{ object.mpi_cluster }}</p>
            <p>Command: {{ object.exec_string }}</p>


            <p>Input Files: </p>
            <ul id="task-input-files-list">
                {% for file in object.input_files.all %}
                    <li>
                        <a href="/media/tool_activity_{{ object.id }}/input/{{ file.filename }}">{{ file.filename }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Output Files: </p>
            <ul id="task-output-files-list">
                {% for file in object.output_files.all %}
                    <li>
                        <a href="/media/tool_activity_{{ object.id }}/output/{{ file.filename }}">{{ file.filename }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>



{% endblock %}

{% block js %}
    {# insert ajax-request. replace input and output files list with the received content    #}
    <script type="text/javascript">
        var statusCode =
        {{ object.status_code }}

        var retrieveCurrentStatus = function () {
            ajaxGet('../../task-fragments/{{ object.id }}', function (content) {
                //onSuccess
                {#                alert(content.status_code);#}
                statusCode = content.status_code
                if (statusCode == 2 || statusCode == 3) {
                    clearInterval(statusRefresher)
                }


            })
        };

        var statusRefresher = setInterval(retrieveCurrentStatus, 10000);


        {#    function setStatusCode(statusCode) {#}
        {#      statusCode = statusCode;#}
        {#      my_callback(); // this is whatever you wanted to call onChange#}
        {#    }#}

    </script>
{% endblock %}