{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load staticfiles %}

{% block content %}
<div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>


        <form id="ray-form" action="" method="post" enctype="multipart/form-data">
            <h1 class="text-center">Ray</h1>
            {#            <hr>#}
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1">Basic Parameters</a></li>
                <li><a data-toggle="tab" href="#tab2">Other Parameters</a></li>
            </ul>

            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    {% crispy select_mpi_form %}
                    {{ input_formset.management_form }}

                    <legend>Input</legend>
                    <div id="input-formset-container">
                        {% for form in input_formset.forms %}
                            {% crispy form %}
                        {% endfor %}
                        <hr>
                    </div>
                    <hr>


                </div>
                <div id="tab2" class="tab-pane fade col-sm-12">
                    {% crispy other_parameter_form %}
                    <hr>

                </div>

                <input name="submit" value="Execute" type="submit" class="btn btn-primary btn-block">


            </div>

            {#            </div>#}
            {#        </div>#}
	</form>


    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'jquery/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        {#  edit how form_errors are displayed   #}
        {#        $('.alert-block').addClass("col-sm-12");#}


        {# for dynamic formset add/remove        #}
        $(function () {
            $('.form-container').formset({
                prefix: '{{ input_formset.prefix }}',
                addText: '<i class="fa fa-plus" aria-hidden="true"></i> Add input parameter',
                deleteText: '<i class="fa fa-times" aria-hidden="true"></i>',
                addCssClass: 'btn btn-success',
                deleteCssClass: 'btn btn-danger'
            });
        });

        {# for parameter dropdown use-case abstraction; hide input_file2 if parameter != '-p'#}
        parameter = $('select[name=form-0-parameter]').val();
        param_value_div_id = '#div_id_form-0-input_file1';
        inp_file2_div_id = '#div_id_form-0-input_file2';

        input_file1_label = 'id_form-0-input_file1';
        input_file2_label = 'id_form-0-input_file2';
        $(param_value_div_id).removeClass('hidden');
        $(inp_file2_div_id).removeClass('hidden');

        if (parameter == '') {
            $(inp_file2_div_id).hide();
            $(param_value_div_id).hide();
            $(inp_file2_div_id).hide();
        }
        else {
            $(param_value_div_id).show();
            if (parameter === "-p") {
                $(inp_file2_div_id).show();

                $("label[for=" + input_file1_label + "]").text("Left sequence file");
                $("label[for=" + input_file2_label + "]").text("Right sequence file");

            }
            else {
                $(inp_file2_div_id).hide();
                if (parameter === "-i") {
                    $("label[for=" + input_file1_label + "]").text("Interleaved sequence file");
                } else if (parameter === "-s") {
                    $("label[for=" + input_file1_label + "]").text("Sequence file");
                }
            }
        }

        $('.row').on('change', "select", function () {
            if (match = $(this).attr('name').match(/form-(\d+)-parameter/)) {
                param_value_div_id = '#div_id_form-' + match[1] + '-input_file1';
                inp_file2_div_id = '#div_id_form-' + match[1] + '-input_file2';
                parameter = $(this).val();
                input_file1_label = 'id_form-' + match[1] + '-input_file1';
                input_file2_label = 'id_form-' + match[1] + '-input_file2';
                $(param_value_div_id).removeClass('hidden');
                $(inp_file2_div_id).removeClass('hidden');

                if (parameter == '') {
                    $(inp_file2_div_id).hide();
                    $(param_value_div_id).hide();
                    $(inp_file2_div_id).hide();
                }
                else {
                    $(param_value_div_id).show();
                    if (parameter === "-p") {
                        $(inp_file2_div_id).show();

                        $("label[for=" + input_file1_label + "]").text("Left sequence file");
                        $("label[for=" + input_file2_label + "]").text("Right sequence file");

                    }
                    else {
                        $(inp_file2_div_id).hide();
                        if (parameter === "-i") {
                            $("label[for=" + input_file1_label + "]").text("Interleaved sequence file");
                        } else if (parameter === "-s") {
                            $("label[for=" + input_file1_label + "]").text("Sequence file");
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}
