{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load staticfiles %}

{% block content %}

    <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 '>


            <form id="ray-form" action="" method="post" enctype="multipart/form-data">

                {#                <div class="well">#}
                <h1 class="text-center">Quantum Espresso</h1>
                <hr>
                {#                    <div class="panel-heading">#}
                {#                        <h3 class="panel-title">Quantum Espresso</h3>#}
                {#                    </div>#}
                {#                    <div class="panel-body">#}
                {% crispy form %}


                {{ input_formset.management_form }}
                <div id="input-formset-container">
                    {% for form in input_formset.forms %}
                        {% crispy form %}
                    {% endfor %}
                </div>
                <hr>
                <input name="submit" value="Execute" type="submit" class="btn btn-primary btn-block">
                {#                    </div>#}
                {#                </div>#}
            </form>


        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'jquery/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        {#  edit how form_errors are displayed   #}
        {#        $('.alert-block').addClass("col-sm-12");#}


        {# for dynamic formset add/remove        #}
        $(function () {
            $('.form-container').formset({
                prefix: '{{ input_formset.prefix }}',
                addText: '<i class="fa fa-plus" aria-hidden="true"></i> Add input parameter',
                deleteText: '<i class="fa fa-times" aria-hidden="true"></i>',
                addCssClass: 'btn btn-success',
                deleteCssClass: 'btn btn-danger'
            });
        });

        {# for parameter dropdown use-case abstraction; hide input_file2 if parameter != '-p'#}

        {#        $('.row').on('change', "select", function () {#}
        {#            if (match = $(this).attr('name').match(/form-(\d+)-parameter/)) {#}
        {#                param_value_div_id = '#div_id_form-' + match[1] + '-input_file1';#}
        {#                inp_file2_div_id = '#div_id_form-' + match[1] + '-input_file2';#}
        {#                parameter = $(this).val();#}
        {#                input_file1_label = 'id_form-' + match[1] + '-input_file1';#}
        {#                input_file2_label = 'id_form-' + match[1] + '-input_file2';#}
        {#                $(param_value_div_id).removeClass('hidden');#}
        {#                $(inp_file2_div_id).removeClass('hidden');#}
        {##}
        {#                if (parameter == '') {#}
        {#                    $(inp_file2_div_id).hide();#}
        {#                    $(param_value_div_id).hide();#}
        {#                    $(inp_file2_div_id).hide();#}
        {#                }#}
        {#                else {#}
        {#                    $(param_value_div_id).show();#}
        {#                    if (parameter === "-p") {#}
        {#                        $(inp_file2_div_id).show();#}
        {##}
        {#                        $("label[for=" + input_file1_label + "]").text("Left sequence file");#}
        {#                        $("label[for=" + input_file2_label + "]").text("Right sequence file");#}
        {##}
        {#                    }#}
        {#                    else {#}
        {#                        $(inp_file2_div_id).hide();#}
        {#                        if (parameter === "-i") {#}
        {#                            $("label[for=" + input_file1_label + "]").text("Interleaved sequence file");#}
        {#                        } else if (parameter === "-s") {#}
        {#                            $("label[for=" + input_file1_label + "]").text("Sequence file");#}
        {#                        }#}
        {#                    }#}
        {#                }#}
        {#            }#}
        {#        });#}
    </script>
{% endblock %}
