{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} {{ tool.display_name }}
{% endblock %}

{% block navbar_breadcrumb %}
    <li>
        <a href="{% url 'skylab-home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'toolset_list_view' %}">Toolsets</a>
    </li>
    <li>
        <a href="{% url 'toolset_detail_view' toolset_simple_name=tool.toolset.simple_name %}">{{ tool.toolset.display_name }}</a>
    </li>
    <li class="active">
        {{ tool.display_name }}
    </li>
{% endblock %}

{% block content %}

    <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 '>
            <div class="row">
                <h1>{{ tool.display_name }}</h1>
                <hr>
                <form id="impi-form" action="" method="post" enctype="multipart/form-data">
                    {% crispy form %}

                    {{ input_formset.management_form }}
                    <div id="input-formset-container">
                        {% for form in input_formset.forms %}
                            {% crispy form %}
                        {% endfor %}
                    </div>
                    <hr>
                    <input name="submit" value="Execute" type="submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'jquery/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.alert-block').addClass("col-sm-12");

        {# for dynamic formset add/remove        #}
        var rowClass = $('.row');

        $(function () { {# on document load #}
            $('.form-container').formset({
                prefix: '{{ input_formset.prefix }}',
                addText: '<i class="fa fa-plus" aria-hidden="true"></i> Add operation',
                deleteText: '<i class="fa fa-times" aria-hidden="true"></i>',
                addCssClass: 'btn btn-success',
                deleteCssClass: 'btn btn-danger'
            });

            {# on load hide/show elements #}
            $('select').each(function () {
                if (match = $(this).attr('name').match(/form-(\d+)-param_operation/)) {
                    var param_value_div_id = '#div_id_form-' + match[1] + '-param_value';
                    var inp_file2_div_id = '#div_id_form-' + match[1] + '-input_file2';
                    var param_operation = $(this).val();
                    $(param_value_div_id).removeClass('hidden');

                    if (param_operation == 3 || param_operation == 4) {
                        $(param_value_div_id).show();
                    }
                    else {
                        $(param_value_div_id).hide();
                    }
                }
            });
        });

        {# on dropdown val change       #}
        rowClass.on('change', "select", function () {
            if (match = $(this).attr('name').match(/form-(\d+)-param_operation/)) {
                var param_value_div_id = '#div_id_form-' + match[1] + '-param_value';
                var inp_file2_div_id = '#div_id_form-' + match[1] + '-input_file2';
                var param_operation = $(this).val();
                $(param_value_div_id).removeClass('hidden');

                if (param_operation == 3 || param_operation == 4) {
                    $(param_value_div_id).show();
                }
                else {
                    $(param_value_div_id).hide();
                }
            }
        });
    </script>


{% endblock %}
