<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SkyLab |{% endblock title %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'skylab/css/skylab.css' %}">
    {% block css_imports %}
    {% endblock %}

    {% block css %}{% endblock css %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'skylab-home' %}">SkyLab</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            {#    top-right navbar        #}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'mpi_list_view' %}"><i class="fa fa-cloud fa-fw"></i> MPI Clusters </a></li>
                    <li><a href="{% url 'toolset_list_view' %}"><i class="fa fa-gears fa-fw"></i> Tools </a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="navTasksOnClick()">
                            <i class="fa fa-tasks fa-fw"></i> Tasks <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks" id="nav-task-list">
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>

                    {% for account in user.socialaccount_set.all %}
                        {% if account.provider == 'google' %}
                            <li class="dropdown user-info-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" class="btn btn-link"
                                        {# onclick="logout_google_account()" #}>
                                    {# calls logout_google_account function that logouts google account then skylab account #}
                                    <img src="{{ account.extra_data.picture }}"
                                         class="img-rounded nav-user-img " alt="user_img" width="34"
                                         height="34">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="logout-button" class="text-center"><i class="fa fa-sign-out"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>

                        {% endif %}
                    {% endfor %}

                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">
                            <i class="fa fa-sign-in fa-fw"></i> Login
                        </a>
                    </li>
                {% endif %}


            </ul>

        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        {% block navbar_breadcrumb %}
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
        {% endblock %}
    </div>

    {% if messages %}
    {% for message in messages %}
        {% if message.extra_tags == 'display_this' %}
            <div class="alert alert-{{ message.level_tag }} fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% block content %}{% endblock content %}
    <br>
    <br>
    {# create task modal #}
    <div class="modal fade" id="create-task-modal" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title ">Create New Task</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade in" id="create-task-modal-error" style="display:none;">
                        <button type="button" class="close">×</button>
                        Please select a toolset, then select a tool.
                    </div>
                    <div class="form-group">
                        <label for="create-task-toolset-select">Toolset:</label>
                        <select id="create-task-toolset-select" class="form-control"></select>
                        <p id="create-task-toolset-select-help" class="help-block" for="create-task-toolset-select">
                            Select the toolset you want
                            to use.</p>
                    </div>

                    <div class="form-group">
                        <label for="create-task-tool-select">Tool:</label>
                        <select id="create-task-tool-select" class="form-control"></select>
                        <p id='create-task-tool-select-help' class="help-block" for="create-task-tool-select">Select the
                            tool you want to
                            use.</p>
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id='create-task-modal-ok' type="button" class="btn btn-primary">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="{% static 'jquery/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/npm.js' %}"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
{#    LOGOUTS GOOGLE ACCOUNT ON SKYLAB ACCOUNT LOGOUT. REMOVE THIS FUNCTION TO PRESERVE OAUTH WORKFLOW#}

{% if user.is_authenticated %}
    <script type="text/javascript">
        {# logout_google_account via ajax post #}
        $("body").bind("ajaxSend", function (elm, xhr, s) {
            if (s.type == "POST") {
                xhr.setRequestHeader('X-CSRF-Token', '{{ csrf_token }}');
            }
        });

{#        var logout_google_account = function () {#}
{#            location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout_google_account?continue={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'skylab-home' %}";#}
{#        };#}

        $('#logout-button').on('click', function () {

            $.post("{% url 'account_logout' %}",
                    {'csrfmiddlewaretoken': '{{csrf_token}}'},
                    function () {

                    });
{#            logout_google_account();#}
            window.location = "{% url 'logout_redirect' %}"
        });

        var navTasksOnClick = function () {
            ajaxGet('{% url 'ajax_refresh_nav_task_list' %}', function (content) {

            })
        };

        {# begin create task modal #}
        var create_task_modal = $('#create-task-modal');

        create_task_modal.on('shown.bs.modal', function () { {# refresh toolset list on modal activate #}
            $('#create-task-modal-error').hide();
            $("#jsmol-container-div").fadeOut("fast", function () {
                // Animation complete.
            });
            ajaxGet('{% url 'ajax_refresh_select_toolset'%}', function (content) {
                $('#create-task-toolset-select').prop('selectedIndex', -1);
                $('#create-task-tool-select').prop('selectedIndex', -1);
            })
        });

        create_task_modal.on("hidden.bs.modal", function () {
            $("#jsmol-container-div").fadeIn("fast", function () {
                // Animation complete.
            });
        });

        var create_tasks_tool_help_texts;
        var create_tasks_toolset_select = $('#create-task-toolset-select');
        create_tasks_toolset_select.change(function () {

            var url_mask = "{% url 'ajax_refresh_select_tool' toolset_simple_name='toolset_name_placeholder' %}".replace(/toolset_name_placeholder/, create_tasks_toolset_select.val());
            ajaxGet(url_mask, function (content) {
                $('#create-task-tool-select').prop('selectedIndex', -1);
                create_tasks_tool_help_texts = content.tool_help_texts

            });
        });

        var tool_select = $('#create-task-tool-select');
        tool_select.change(function () {
            $('#create-task-tool-select-help').html(create_tasks_tool_help_texts[$(tool_select)[0].selectedIndex])
        });

        $('#create-task-modal-ok').on('click', function () {
            if (!((tool_select.val() == null | tool_select.val() === '' | create_tasks_toolset_select.val() === null | create_tasks_toolset_select.val() === ''))) {

                window.location = "{% url 'skylab_tool_view' toolset_simple_name='toolset_name_placeholder' tool_simple_name='tool_name_placeholder' %}".replace(/toolset_name_placeholder/, create_tasks_toolset_select.val()).replace(/tool_name_placeholder/, tool_select.val());
            } else {
                $('#create-task-modal-error').show()
        }
        });

        $('#create-task-modal-error').find('.close').on('click', function (e) {
            $(this).parent().hide();
        });
        {# end create task modal #}

    </script>
{% endif %}

{% block js %}

{% endblock %}

</body>
</html>
