{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Create MPI Cluster{% endblock %}

{% block navbar_breadcrumb %}
    <ol class="breadcrumb">
{#        <li>#}
{#            <a href="{% url 'skylab-home' %}">Home</a>#}
{#        </li>#}
        <li>
            <a href="{% url 'mpi_list_view' %}">MPI Clusters</a>
        </li>
        <li class="active">Create MPI Cluster</li>
    </ol>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>
            <h1>Create MPI Cluster</h1>
            <hr>
            {% crispy form %}
            <hr>

        </div>
    </div>



{% endblock %}