
{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} Home {% endblock %}

{#{% block headline %}<h1>SkyLab Home Page</h1>{% endblock headline %}#}


{% block content %}
    <p>Howdy{% if user.is_authenticated %} {{ user.first_name }}
        {% for account in user.socialaccount_set.all %}
            {% if account.provider == 'google' %}
                {{ account.extra_data.id }}
            {% endif %}
        {% endfor %}
    {% endif %}!</p>




{% endblock %}