{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }}{{ mpi_cluster.cluster_name }}{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block content %}
    <div class='row'>
        <div id="task-info-div"
             class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
            <div class="row">
                {#                <div class="col-xs-offset-4 col-xs-4">#}
                    <h1 class="text-center"> MPI Cluster {{ mpi_cluster.id }}</h1>
                </div>


            {#            </div>#}
            <div class="row">
                <table id="mpi-info-table" class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>Cluster name</th>
                        <th>Nodes</th>
                        <th>IP address</th>
                        <th>Status</th>
                        {% if mpi_cluster.creator == user %}
                            <th>Share key</th>{% endif %}
                        <th>Visibility</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ mpi_cluster.cluster_name }}</td>
                        <td>{{ mpi_cluster.total_node_count }}</td>
                        <td id="mpi-info-ip">{{ mpi_cluster.cluster_ip }}</td>
                        <td>
                            <span id="mpi-info-status" class="
                            {% if mpi_cluster.status == 2 %}
                                text-success
                            {% elif mpi_cluster.status == 4 %}
                                text-danger
                            {% else %}
                                text-info
                            {% endif %}">
                            {{ mpi_cluster.current_simple_status_msg }}
                            </span>

                            <span id="mpi-info-deletion-txt"
                                  class="text-warning"> {% if mpi_cluster.queued_for_deletion %}(Scheduled for
                                deletion){% endif %} </span>

                        </td>
                        {% if mpi_cluster.creator == user %}
                            <td>{{ mpi_cluster.share_key }}</td>{% endif %}
                        <td><input type="checkbox" name="visibility-checkbox" data-label-text="Public"
                                   {% if mpi_cluster.is_public %}checked{% endif %}></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <h3>Toolsets</h3>
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Toolset</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tool_activation in mpi_cluster.toolactivation_set.all %}
                        <tr>
                            <td>{{ tool_activation.toolset.display_name }}</td>
                            <td>{{ tool_activation.toolset.description }}</td>
                            <td id="tool-activation-status-cell-{{ tool_activation.toolset.id }}">
                                {% if tool_activation.status == 0 %}
                                    <span class="text-muted">{{ tool_activation.current_status_msg }}</span>
                                    <button class="btn btn-success pull-right toolset-activate-btn"
                                            data-toolset-pk="{{ tool_activation.toolset.id }}">Activate
                                    </button>
                                    {# activate button                            #}
                                {% elif tool_activation.status == 1 %}
                                    <span class="text-info"> {{ tool_activation.current_status_msg }}</span>
                                {% elif tool_activation.status == 2 %} {# status == 2 ; activated #}
                                    <span class="text-success"> {{ tool_activation.current_status_msg }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if mpi_cluster.creator == user and not mpi_cluster.queued_for_deletion %}
                <div class="row">
                    <button id="delete-cluster-btn" class="btn btn-danger" data-toggle="modal"
                            data-target="#delete-confirm-modal"><i class="fa fa-times" aria-hidden="true"></i>
                        Delete this cluster
                    </button>
                </div>
                <div class="modal fade" id="delete-confirm-modal" role="dialog">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirm Deletion</h4>
                            </div>
                            <div class="modal-body">
                                <p>You are about to delete an MPI Cluster ({{ mpi_cluster.cluster_name }}), this
                                    procedure is irreversible.</p>
                            </div>
                            <div class="modal-footer ">

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="deleteCluster()"
                                        data-dismiss="modal">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>






{% endblock %}

{% block js_imports %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'bootstrap-switch-master/dist/js/bootstrap-switch.min.js' %}"></script>
{% endblock %}

{% block js %}

        <script>
            {# if cluster is public hide share key column        #}
            mpi_info_table = $('#mpi-info-table');
            {%  if mpi_cluster.is_public %}
                mpi_info_table.find('th:nth-child(5)').hide();
                mpi_info_table.find('td:nth-child(5)').hide();
            {% endif %}

            visibility_switch = $("input[type=checkbox][name='visibility-checkbox']");

            visibility_switch.bootstrapSwitch();
            {% if not user == mpi_cluster.creator %}
                visibility_switch.bootstrapSwitch('disabled', true);
            {% endif %}
            {# init as bootstrap switch #}
            visibility_switch.on('switchChange.bootstrapSwitch', function (event, state) {
                {# if cluster is public hide share key column, otherwise, show       #}
                if (state == true) {
                    mpi_info_table.find('th:nth-child(5)').hide();
                    mpi_info_table.find('td:nth-child(5)').hide();
                } else {
                    mpi_info_table.find('th:nth-child(5)').show();
                    mpi_info_table.find('td:nth-child(5)').show();
                }

                {# tell server about the change            #}
                ajaxPost('{% url 'ajax_post_mpi_privacy_change' %}', {
                    'is_public': state,
                    'pk':{{mpi_cluster.id}}
                }, function (content) {
                    //onSuccess
                    // do nothing
                });

            });

            {# delete cluster via ajax post, update html            #}
            var deleteCluster = function () {
                ajaxPost('{% url 'ajax_post_mpi_delete' %}', {
                    'pk':{{mpi_cluster.id}}
                }, function (content) {
                    //onSuccess
                    // do nothing
                    $('#delete-cluster-btn').hide();
                    $('#mpi-info-ip').html(content.cluster_ip);
                    mpi_status_cell = $('#mpi-info-status');
                    mpi_status_cell.html(content.status_msg);
                    mpi_status_cell.removeClass();

                    switch (content.status) {
                        case 2:
                            mpi_status_cell.addClass('text-success');
                            break;
                        case 4:
                            mpi_status_cell.addClass('text-danger');
                            break;
                        default:
                            mpi_status_cell.addClass('text-info');
                    }
                    mpi_status_cell.addClass();
                    $('#mpi-info-deletion-txt').html('(Scheduled for deletion)')
                });
            };

            {# activate toolset via ajax post, update html #}
            $('.toolset-activate-btn').on('click', function () {
                button = $(this);
                ajaxPost('{% url 'ajax_post_mpi_toolset_activate' %}', {
                    'mpi_pk':{{mpi_cluster.id}},
                    'toolset_pk': $(this).data('toolset-pk')
                }, function (content) {
                    button.hide();

                    button.siblings('span').html(content.status_msg);
                    button.siblings('span').removeClass();
                    switch (content.status) {
                        case 2:
                            button.siblings('span').addClass('text-success');
                            break;
                        default:
                            button.siblings('span').addClass('text-info');
                    }
                })
            })
        </script>

{% endblock %}