{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }}{{ toolset.display_name }}{% endblock %}

{% block navbar_breadcrumb %}
    <ol class="breadcrumb">
{#        <li>#}
{#            <a href="{% url 'skylab-home' %}">Home</a>#}
{#        </li>#}
        <li>
            <a href="{% url 'toolset_list_view' %}">Toolsets</a>
        </li>
        <li class="active">
            {{ toolset.display_name }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ toolset.display_name }}</h1>
        <hr>

    </div>
    <div class="row">
        <label for="source-url">Home page: </label>
        <span><a {% if toolset.source_url == "No link provided" %}class="text-muted"{% endif %}
                 href="{{ toolset.source_url }}">{{ toolset.source_url }}</a> </span>
    </div>
    <div class="row">
        <p id="toolset-description" class="text-justify">
            <label>Description: </label>
            {{ toolset.description }}
        </p>


        <label for="subtools-list">Tools in this package: </label>
        <div id="subtools-list">{# class="list-group"> #}
            <ul>
            {% for tool in toolset.subtools.all %}
                <li>
                <a href="{% url 'skylab_tool_view' toolset_simple_name=toolset.simple_name tool_simple_name=tool.simple_name %}">
                    {{ tool.display_name }}
                </a>
                 <p>
                        {{ tool.description }}
                </p>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}