{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }}{{ toolset.display_name }}{% endblock %}

{% block navbar_breadcrumb %}
    <li>
        <a href="{% url 'skylab-home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'toolset_list_view' %}">Toolsets</a>
    </li>
    <li class="active">
        {{ toolset.display_name }}
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ toolset.display_name }}</h1>
        <hr>

    </div>
    <div class="row">
        <label for="source-url">Home page: </label>
        <span><a {% if toolset.source_url == "No link provided" %}class="text-muted"{% endif %}
                 href="{{ toolset.source_url }}">{{ toolset.source_url }}</a> </span>
    </div>
    <div class="row">
        <label for="toolset-description">Description: </label>

        <p id="toolset-description" class="text-justify">
            {{ toolset.description }}
        </p>


        <label for="subtools-list">Tools in this package: </label>
        <div id="subtools-list" class="list-group">
            {% for tool in toolset.subtools.all %}
                <a href="{% url 'skylab_tool_view' toolset_simple_name=toolset.simple_name tool_simple_name=tool.simple_name %}"
                   class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{ tool.display_name }}
                    </h4>
                    <p class="list-group-item-text">
                        {{ tool.description }}
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}