.asteriskField {
	color: #FF0000;
}

.nav .breadcrumb {
	margin: 0 7px;
}

@media (min-width: 768px) {
	.nav .breadcrumb {
		float: left;
		margin: 7px 10px;
	}
}

.dropdown-tasks {
	z-index: 9999;
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-right .dropdown-tasks {
        width: 250px;
        margin-left: -59px;
        min-width: 0;

    }
}

@media (min-width: 993px) {
    .navbar-right .dropdown-tasks {
        width: 310px;
        margin-left: -59px;
        min-width: 0;

    }
}

.navbar-inverse .dropdown-menu li {
	display: block;

}

.navbar-inversep .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-inverse .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-inverse .dropdown-menu li a div {
	white-space: normal;
}

/*.navbar-static-top {*/
/*background-color: floralwhite;*/
/*}*/

/*.navbar-top-links>li>a {*/
/*color: #999;*/
/*}*/

.file-select {
	width: 200px;
}

#platformSpeedSlider .slider-selection {
	background: #BABABA;
}

.list-group > a:hover, .list-group > a:focus {
	color: #0645AD;
}