.asteriskField {
	color: #FF0000;
}

#mpi-table tr {
    cursor: pointer;
}

#task-list-table {
    cursor: pointer;
}



.nav .breadcrumb {
	margin: 0 7px;
}

.scrollable-task-file-list {
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
}

@media (min-width: 768px) {
	.nav .breadcrumb {
		float: left;
		margin: 7px 10px;
	}
}


.dropdown-tasks {
    z-index: 1000;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-tasks {
		width: 310px;
        margin-left: -59px;
        min-width: 0;

    }
}

/*@media (min-width: 993px) {*/
/*.navbar-right .dropdown-tasks {*/
/*min-width: 310px;*/
/*margin-left: -59px;*/
/*min-width: 0;*/

/*}*/
/*!*}*!*/

.navbar-inverse .dropdown-menu li {
	display: block;

}

.navbar-inverse .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-inverse .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-inverse .dropdown-menu li a div {
	white-space: normal;
}

/*.navbar-static-top {*/
/*background-color: floralwhite;*/
/*}*/

/*.navbar-top-links>li>a {*/
/*color: #999;*/
/*}*/

.file-select {
	width: 200px;
}

#platformSpeedSlider .slider-selection {
	background: #BABABA;
}

.list-group > a:hover, .list-group > a:focus {
	color: #0645AD;
}

/** { box-sizing: border-box; }*/

.carousel-cell img {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: auto;
    max-width: 95%;
    overflow: hidden;

}

@media screen and ( min-width: 768px ) {
    .carousel-cell img {
        height: 400px;
    }
}

/*.caption {*/
/*bottom: 0;*/
/*min-height: 80px;*/
/*left: 0;*/
/*position: absolute;*/
/*width: 100%;*/
/*z-index: 2;*/
/*}*/

.caption {
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: gray !important;
}

.carousel-container {
    margin: auto;
    padding: 20px;

}





